.bouton-tous {
    background-color: #995522; 
    color: white;
}

.bouton-facile {
    background-color: #99dd22; 
    color: white;
}

.bouton-moyen {
    background-color: #995522;
    color: white;
}

.bouton-difficile {
    background-color: #995522; 
    color: white; 
}