* {
    font-family: sans-serif;
}

h1, h3 {
    text-align: center;
    color: #ffffff;
}

body {
    background-color: rgb(24, 22, 22);
}

.bouton-section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.bouton-section a {
    margin: 0 10px;
}

.title-container {
    background-color: #3b7ade;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    max-width: 425px;
    margin: 0 auto;
}

.title-container h1, .title-container h3{
    margin: 0;
}

.table-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.table-section {
    text-align: center;
    width: 30%;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    overflow: hidden;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1450px;
    margin: 25px auto;
    background: #ffffff;
    border-radius: 5px;
}

.content-table thead tr {
    background-color: #7c3bde;
    color: #000000;
    text-align: center;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}

.content-table th, .content-table td {
    padding: 12px 15px;
    border-right: 3px solid #7c3bde;
    text-align: center;
    color: #000000;
}

.content-table tbody tr {
    border-bottom: 3px solid #7c3bde;
    color: #000000;
}

.content-table th:last-child, .content-table td:last-child {
    border-right: none;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #ffffff;
}

.content-table tbody tr:last-of-type {
    border-bottom: 3px solid #7c3bde;
    border-radius: 0 0 10px 10px;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #7c3bde;
}

.content-table thead tr th {
    color: #ffffff;
}

.content-table tbody tr td {
    color: #7c3bde;
}


.difficulty-section {
    background-color: #ffaa00;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}


.difficulty-section {
    text-align: center;
    margin-bottom: 20px;
}

.difficulty-section .section-text {
    background-color: #3b7ade;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
}

.difficulty-section .section-text h3 {
    margin: 0;
}

.section-text {
    max-width: 225px;
    margin: 0 auto;
}