.bouton-tous {
    background-color: #7c3bde; 
    color: white;
}


.bouton-facile {
    background-color: #6a2ea9; 
    color: white;
}

.bouton-moyen {
    background-color: #6a2ea9;
    color: white;
}

.bouton-difficile {
    background-color: #6a2ea9; 
    color: white; 
}
