<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classement des joueurs</title>
    <link rel="stylesheet" href="/static/classement.css">
    <link rel="stylesheet" href="/static/facile.css">
    <link rel="stylesheet" href="/static/deconnexion.css">
    <link rel="icon" href="/static/images/pendu.png" type="image/x-icon">
    <link rel="shortcut icon" href="/static/images/pendu.png" type="image/x-icon">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/tous_les_fichier.css">
</head>
<body class="fade-in">
    <div class="zoom">
        <div class="title-container" data-aos="zoom-in">
            <h1>Classement des joueurs:</h1>
        </div>
        <br>
        <div class="bouton-section" data-aos="zoom-in">
            <a href="/classement_total">
                <button class="bouton-tous">TOUS</button>
            </a>
            <a href="/classement_facile">
                <button class="bouton-facile">FACILE</button>
            </a>
            <a href="/classement_moyen">
                <button class="bouton-moyen">MOYEN</button>
            </a>
            <a href="/classement_difficile">
                <button class="bouton-difficile">DIFFICILE</button>
            </a>
        </div>
        <div class="table-section difficulty-section" data-aos="fade-up">
        <form action="/classement_facile" method="post">
            <table class="content-table">
                <thead>
                    <tr>
                        <th>
                            <button type="submit" name="sort_key" value="nom_asc_facile">⬆️</button>
                            Nom des joueurs
                            <button type="submit" name="sort_key" value="nom_desc_facile">⬇️</button>
                        </th>
                        <th>
                            <button type="submit" name="sort_key" value="nombre_de_victoire_total_facile_asc_facile">⬆️</button>
                            Nombre de victoires en mode de difficulté facile
                            <button type="submit" name="sort_key" value="nombre_de_victoire_total_facile_desc_facile">⬇️</button>
                        </th>
                        <th>
                            <button type="submit" name="sort_key" value="victoire_asc_facile">⬆️</button>
                            Pourcentage de victoire en mode de difficulté facile
                            <button type="submit" name="sort_key" value="victoire_desc_facile">⬇️</button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for user, pourcentage, nombre_de_victoire_total_desc in classement_data %}
                    <tr>
                        <td>{{ user }}</td>
                        <td>{{ nombre_de_victoire_total_desc }}</td>
                        <td>{{ pourcentage }}%</td>
                    </tr>
                    {% endfor %}
                </tbody>                      
            </table>
        </form>
    </div>
    <div class="bouton-section2">
        <a href="/recommencer_une_partie" data-aos="fade-right">
            <button class="bouton-recommencer">Commencer une partie</button>
        </a>
        <a href="/historique" data-aos="fade-left">
            <button class="bouton-historique">Regarder l'historique de vos parties et vos statistiques</button>
        </a>
    </div>
    <a href="/logout" id="deconnexion-btn" data-aos="fade-right">
        <button class="bouton-autre_compte">Choisir un autre compte</button>
    </a>            
    <div id="confirmation-modal" class="confirmation-modal">
        <div class="confirmation-modal-content">
            <p>Êtes-vous sûr de vouloir vous déconnecter ?</p>
            <div class="confirmation-buttons">
                <button id="confirm-btn">Confirmer</button>
                <button id="cancel-btn">Annuler</button>
            </div>
        </div>
    </div>
    </div>
    <script src="/static/deconnexion.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>