<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classement des joueurs</title>
    <link rel="stylesheet" href="/static/style3.css">
    <link rel="stylesheet" href="/static/style3.css">
</head>
<body>
    <a href="/classement_total">
        <input type="button" value="Tous" />
    </a>
    <a href="/classement_facile">
        <input type="button" value="Facile" />
    </a>
    <a href="/classement_moyen">
        <input type="button" value="Moyen" />
    </a>
    <a href="/classement_difficile">
        <input type="button" value="Difficile" />
    </a>
    <div class="title-container">
        <h1>Classement des joueurs:</h1>
    </div>
    <br>
    <div class="table-section difficulty-section">
    <form action="/classement_moyen" method="post">
        <table class="content-table">
            <thead>
                <tr>
                    <th>
                        <button type="submit" name="sort_key" value="nom_asc_moyen">⬆️</button>
                        Nom des joueurs
                        <button type="submit" name="sort_key" value="nom_desc_moyen">⬇️</button>
                    </th>
                    <th>
                        <button type="submit" name="sort_key" value="victoire_asc_moyen">⬆️</button>
                        Pourcentage de victoire en mode de difficulté moyen
                        <button type="submit" name="sort_key" value="victoire_desc_moyen">⬇️</button>
                    </th>
                    <th>
                        <button type="submit" name="sort_key" value="nombre_de_victoire_total_moyen_asc_moyen">⬆️</button>
                        Nombre de victoires en mode de difficulté moyen
                        <button type="submit" name="sort_key" value="nombre_de_victoire_total_moyen_desc_moyen">⬇️</button>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for user, pourcentage, nombre_de_victoire_total_desc in classement_data %}
                <tr>
                    <td>{{ user }}</td>
                    <td>{{ pourcentage }}%</td>
                    <td>{{ nombre_de_victoire_total_desc }}</td>
                </tr>
                {% endfor %}
            </tbody>
                          
        </table>
    </form>
</div>
<div class="bouton-section">
    <a href="/recommencer_une_partie">
        <input type="button" value="Commencer une partie" />
    </a>
    <a href="/historique">
        <input type="button" value="Regarder l'historique de vos parties et vos statistiques" />
    </a>
    <br>
    <a href="/">
        <input type="button" value="Choisir un autre compte" />
    </a>
</div>
</body>
</html>