<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classement des joueurs</title>
    <link rel="stylesheet" href="/static/classement.css">
    <link rel="stylesheet" href="/static/difficile.css">
</head>
<body>
    <div class="title-container">
        <h1>Classement des joueurs:</h1>
    </div>
    <br>
    <div class="bouton-section">
        <a href="/classement_total">
            <button class="bouton-tous">Tous</button>
        </a>
        <a href="/classement_facile">
            <button class="bouton-facile">Facile</button>
        </a>
        <a href="/classement_moyen">
            <button class="bouton-moyen">Moyen</button>
        </a>
        <a href="/classement_difficile">
            <button class="bouton-difficile">Difficile</button>
        </a>
    </div>
    <div class="table-section difficulty-section">
    <form action="/classement_difficile" method="post">
        <table class="content-table">
            <thead>
                <tr>
                    <th>
                        <button type="submit" name="sort_key" value="nom_asc_difficile">⬆️</button>
                        Nom des joueurs
                        <button type="submit" name="sort_key" value="nom_desc_difficile">⬇️</button>
                    </th>
                    <th>
                        <button type="submit" name="sort_key" value="nombre_de_victoire_total_difficile_asc_difficile">⬆️</button>
                        Nombre de victoires en mode de difficulté difficile
                        <button type="submit" name="sort_key" value="nombre_de_victoire_total_difficile_desc_difficile">⬇️</button>
                    </th>
                    <th>
                        <button type="submit" name="sort_key" value="victoire_asc_difficile">⬆️</button>
                        Pourcentage de victoire en mode de difficulté difficile
                        <button type="submit" name="sort_key" value="victoire_desc_difficile">⬇️</button>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for user, pourcentage, nombre_de_victoire_total_desc in classement_data %}
                <tr>
                    <td>{{ user }}</td>
                    <td>{{ nombre_de_victoire_total_desc }}</td>
                    <td>{{ pourcentage }}%</td>
                </tr>
                {% endfor %}
            </tbody>                      
        </table>
    </form>
</div>
<div class="bouton-section">
    <a href="/recommencer_une_partie">
        <input type="button" value="Commencer une partie" />
    </a>
    <a href="/historique">
        <input type="button" value="Regarder l'historique de vos parties et vos statistiques" />
    </a>
</div>
<br>
<div class="bouton-deconnexion">
    <a href="/">
        <input type="button" value="Choisir un autre compte" />
    </a>
</div>
</body>
</html>