<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choisissez une difficulté</title>
    <link rel="stylesheet" href="/static/difficulty.css">
    <link rel="stylesheet" href="/static/deconnexion.css">
    <link rel="icon" href="/static/images/pendu.png" type="image/x-icon">
    <link rel="shortcut icon" href="/static/images/pendu.png" type="image/x-icon">
</head>
<body class="fade-in">
    <div class="all">
        <div class="title-container">
            <h1>Choisissez une difficulté:</h1>
        </div>
        <form method="post" action="/dashboard">
            <div class="button-wrapper">
                <button class="bouton-facile" type="submit" name="difficulty" value="facile">Facile</button>
                <button class="bouton-moyen" type="submit" name="difficulty" value="moyen">Moyen</button>
                <button class="bouton-difficile" type="submit" name="difficulty" value="difficile">Difficile</button>
            </div>
        </form>
        <div class="bouton-section">
            <a href="/classement_total">
                <button class="bouton-classement">Regarder le classement</button>
            </a>
            <a href="/historique">
                <button class="bouton-historique">Regarder l'historique de vos parties et vos statistiques</button>
            </a>
            <a href="/logout" id="deconnexion-btn">
                <button class="bouton-autre_compte">Choisir un autre compte</button>
            </a>            
            <div id="confirmation-modal" class="confirmation-modal">
                <div class="confirmation-modal-content">
                    <p>Êtes-vous sûr de vouloir vous déconnecter ?</p>
                    <div class="confirmation-buttons">
                        <button id="confirm-btn">Confirmer</button>
                        <button id="cancel-btn">Annuler</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/deconnexion.js"></script>
</body>
</html>
