<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fin de Partie</title>
    <link rel="stylesheet" href="/static/fin_de_partie.css">
    <link rel="icon" href="/static/images/pendu.png" type="image/x-icon">
    <link rel="shortcut icon" href="/static/images/pendu.png" type="image/x-icon">
</head>
<body>
    <h1>{{ resultat }}</h1>
    <p>Le mot à deviner était : {{ mot_a_deviner }}</p>
    <a href="/recommencer_une_partie">
        <input type="button" value="Recommencer une partie" />
    </a>
    <a href="/classement_total">
        <input type="button" value="classement" />
    </a>
</body>
</html>
