<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jeu du Pendu</title>
    <link rel="stylesheet" href="/static/game.css">
    <link rel="stylesheet" href="/static/deconnexion.css">
    <link rel="icon" href="/static/images/pendu.png" type="image/x-icon">
    <link rel="shortcut icon" href="/static/images/pendu.png" type="image/x-icon">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
    <div class="all">
        <div class="title-container">
            <h1>Jeu du Pendu:</h1>
        </div>
        <form method="POST" action="/jouer">
            <label class="devinez_une_lettre" for="lettre">Devinez une lettre :</label>
            <div class="input-container">
                <input type="text" id="lettre" name="lettre" maxlength="1" required autocomplete="off">
                <label for="lettre"></label>
            </div>
            <div class="bouton-section">
                <button class="bouton-soumettre" type="submit">Soumettre</button>
            </div>
        </form>
        <div class="ensemble-p">
            <p>{{ resultat }}</p>
            <p>{{ message }}</p>
            <p>Essais restants : {{ tentatives_restantes }}</p>
            <p>Lettres déjà entrées : {% for lettre in lettres_trouvees %} {{ lettre }} {% endfor %}</p>
        </div>
    </div>
    <script src="/static/game.js"></script>
    <script src="/static/deconnexion.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>
