    <!DOCTYPE html>
    <html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Historique</title>
        <link rel="stylesheet" href="style3.css">
    </head>
    <body>
        <div class="table-container">
            <div class="table-section">
                <h2>Facile</h2>
                <table border="1">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Mot qui était à deviner</th>
                            <th>Résultat</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for game in game_history_facile %}
                            <tr>
                                <td>{{ game[0] }}</td>
                                <td>{{ game[1] }}</td>
                                <td>{{ game[2] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="table-section">
                <h2>Moyen</h2>
                <table border="1">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Mot qui était à deviner</th>
                            <th>Résultat</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for game in game_history_moyen %}
                            <tr>
                                <td>{{ game[0] }}</td>
                                <td>{{ game[1] }}</td>
                                <td>{{ game[2] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="table-section">
                <h2>Difficile</h2>
                <table border="1">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Mot qui était à deviner</th>
                            <th>Résultat</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for game in game_history_difficile %}
                            <tr>
                                <td>{{ game[0] }}</td>
                                <td>{{ game[1] }}</td>
                                <td>{{ game[2] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
    </html>
