<!DOCTYPE html>
<html>
<head>
    <title>Créer un compte</title>
</head>
<body>
    <h2>Créer un compte</h2>
    <form method="post" action="/signup">
        <label for="username">Nom d'utilisateur:</label>
        <input type="text" id="username" name="username" required><br>

        <label for="password">Mot de passe:</label>
        <input type="password" id="password" name="password" required><br>

        <input type="submit" value="Valider">
    </form>
    <form action="http://127.0.0.1:5000/login">
        <button type="submit">Retour à la page de connexion</button>
    </form>
</body>
</html>
